<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">

{% seo %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#157878">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
  </head>
  <body>
    <section class="page-header">
      <h1 class="project-name">{{ site.title | default: site.github.repository_name }}</h1>
      <h1 class="project-name">Düsseldorf 2024 Europameisterschaft</h1>      
    </section>
    <section>
    <section class="main-content">
      <a href="https://www.qrz.com/db/DD2024EM">
        <h1>DD2024EM on QRZ.com</h1>
      </a>
      <div><img src="DD2024EM.jpg" title="DD2024EM" alt="DD2024EM"></div>
      <section>
        <iframe height="500px" width="100%" src="https://kalender.digital/b0eb8b69fdb5efdba3e9?iframe=true"></iframe>
      </section>
      <div>
      <img src="photo_2024-05-24_17-19-15.jpg" title="DD2024EM" alt="DD2024EM">
      </div>
      <img src="fortuna-stadion.jpg" title="Fortuna Areana" alt="Fortuna Areana">
      </div>
      <footer class="site-footer">
      </footer>
    </section>

    {% if site.google_analytics %}
      <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

        ga('create', '{{ site.google_analytics }}', 'auto');
        ga('send', 'pageview');
      </script>
    {% endif %}
  </body>
</html>
